body {
    background-color: lightgray;
}

h1 {
  color: black;
  text-align: left;
    font-size: 50px;
    font-family: "Staatliches";
    letter-spacing: 5px;
}
header {
  background-color: lightblue;
  padding: 25px;
  margin: auto;
  position: relative;

}


h2 {
    font-family: "Staatliches";
padding-left: 500px;
}




img{
    
   padding-right: 5px ;
    padding-left: 10px
}
iframe {
    padding-left: 100px;
    padding-bottom: 200px
    
    
   
}

h4 {
    font-family: "staatliches";
    padding-right: 500px;
    padding-left: 500px;
}

.reply {background-color: white;} /* Green */
.reply:hover {background-color:white;}

